In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data_base_dir = '../../datasets/Movielens/'
data_dir2 = data_base_dir + 'Movielens Latest/ml-latest/'
data_dir = data_base_dir + 'ml-20m/'

genome_scores = data_dir + 'genome-scores.csv'
genome_tags = data_dir + 'genome-tags.csv'
movies = data_dir + 'movies.csv'
ratings = data_dir + 'ratings.csv'
tags = data_dir + 'tags.csv'

In [130]:
# movies_df = pd.read_csv(movies)
# movies_df
genome_scores_df = pd.read_csv(genome_scores)
genome_score_movies = genome_scores_df['movieId'].unique()

ratings_df = pd.read_csv(ratings, usecols=range(3), dtype={'userId':np.int64, 'movieId':np.int64, 'rating':np.float64}, low_memory=False)
ratings_df = ratings_df[ratings_df['movieId'].isin(genome_score_movies)]
ratings_df

          userId  movieId  rating
0              1        2     3.5
1              1       29     3.5
2              1       32     3.5
3              1       47     3.5
4              1       50     3.5
5              1      112     3.5
6              1      151     4.0
7              1      223     4.0
8              1      253     4.0
9              1      260     4.0
10             1      293     4.0
11             1      296     4.0
12             1      318     4.0
13             1      337     3.5
14             1      367     3.5
15             1      541     4.0
16             1      589     3.5
17             1      593     3.5
18             1      653     3.0
19             1      919     3.5
20             1      924     3.5
21             1     1009     3.5
22             1     1036     4.0
23             1     1079     4.0
24             1     1080     3.5
25             1     1089     3.5
26             1     1090     4.0
27             1     1097     4.0
28             1     1136     3.5
29             1     1193     3.5
...          ...      ...     ...
20000233  138493    50872     3.5
20000234  138493    51086     3.5
20000235  138493    51662     4.5
20000236  138493    51884     4.5
20000237  138493    52579     4.0
20000238  138493    52975     4.0
20000239  138493    53123     4.0
20000240  138493    53125     3.0
20000241  138493    53322     4.0
20000242  138493    53464     4.0
20000243  138493    53996     4.5
20000244  138493    55269     5.0
20000245  138493    55814     5.0
20000246  138493    56757     3.0
20000247  138493    56801     3.0
20000248  138493    58879     4.5
20000249  138493    59315     4.0
20000250  138493    59725     3.0
20000251  138493    59784     5.0
20000252  138493    60069     4.0
20000253  138493    60816     4.5
20000254  138493    61160     4.0
20000255  138493    65682     4.5
20000256  138493    66762     4.5
20000257  138493    68319     4.5
20000258  138493    68954     4.5
20000259  138493    69526     4.5
20000260  138493    69644     3.0
20000261  138493    70286     5.0
20000262  138493    71619     2.5

[20000263 rows x 3 columns]

In [3]:
# ratings_df[ratings_df['userId'] == 33]
users_whole_count = ratings_df['userId'].unique().size

In [83]:
min_no_movies = 30
max_no_movies = 100000

greater_than_df = user_rating_stats_df[user_rating_stats_df['rating'] >= min_no_movies]
within_range_df  = greater_than_df[greater_than_df['rating'] <= max_no_movies]
actual_count = within_range_df.count()['rating']

print(actual_count)
print(actual_count/users_whole_count)
# within_range_df = 
# user_rating_stats_df
# user_rating_stats_df.loc[:, ['rating']]

# 5k users who rated only 1 movie
# 33,950 users who rated only 2 - 10 movies
# Total:

112549
0.8126692323799759

In [81]:
user_rating_stats_df['rating'].describe()
# user_rating_stats_df.loc[:, ['rating']].boxplot()

count    138493.000000
mean        144.413530
std         230.267257
min          20.000000
25%          35.000000
50%          68.000000
75%         155.000000
max        9254.000000
Name: rating, dtype: float64

In [4]:
ratings_matrix_df = ratings_df.pivot(index='userId', columns='movieId', values='rating')
# ratings_matrix_df = ratings_matrix_df.T
ratings_matrix_df

ValueError: Unstacked DataFrame is too big, causing int32 overflow

In [14]:
# user's watched movies:
user_id = 10
# type(ratings_matrix_df.loc[user_id, :][3]
# ratings_matrix_df.loc[user_id, :].notnull()
# ratings_matrix_df.index[ratings_matrix_df[user_id].notnull()]
ratings_df[ratings_df['userId'] == user_id]['movieId'].values

array([   1,   11,   25,  260,  356,  527,  858,  912,  969, 1094, 1136,
       1196, 1198, 1204, 1208, 1210, 1221, 1222, 1230, 1240, 1242, 1247,
       1250, 1304, 1387, 1721, 1960, 2028, 2058, 2194, 2384, 2529, 2657,
       2797, 2944, 2948, 3062, 3107])

In [7]:
print(genome_scores_df['movieId'].unique().size)
top_ten = genome_scores_df['movieId'].unique()[:10]
# ten_movies_df = genome_tags_df[genome_tags_df['movieId' = [1,2]]]

# these are first 10 movie ID's
top_ten_df = genome_scores_df[genome_scores_df['movieId'].isin(top_ten)]
top_ten_df

10381

       movieId  tagId  relevance
0            1      1    0.02500
1            1      2    0.02500
2            1      3    0.05775
3            1      4    0.09675
4            1      5    0.14675
5            1      6    0.21700
6            1      7    0.06700
7            1      8    0.26275
8            1      9    0.26200
9            1     10    0.03200
10           1     11    0.57700
11           1     12    0.11625
12           1     13    0.18800
13           1     14    0.00800
14           1     15    0.03675
15           1     16    0.28175
16           1     17    0.00700
17           1     18    0.11050
18           1     19    0.67050
19           1     20    0.18450
20           1     21    0.33025
21           1     22    0.28250
22           1     23    0.05700
23           1     24    0.01550
24           1     25    0.08500
25           1     26    0.08100
26           1     27    0.19500
27           1     28    0.07150
28           1     29    0.89200
29           1     30    0.67625
...        ...    ...        ...
11250       10   1099    0.01650
11251       10   1100    0.12850
11252       10   1101    0.69050
11253       10   1102    0.03000
11254       10   1103    0.03075
11255       10   1104    0.22575
11256       10   1105    0.07350
11257       10   1106    0.02100
11258       10   1107    0.02450
11259       10   1108    0.10625
11260       10   1109    0.11750
11261       10   1110    0.08325
11262       10   1111    0.02150
11263       10   1112    0.01550
11264       10   1113    0.03850
11265       10   1114    0.26050
11266       10   1115    0.04150
11267       10   1116    0.19075
11268       10   1117    0.02950
11269       10   1118    0.07225
11270       10   1119    0.46750
11271       10   1120    0.02325
11272       10   1121    0.02150
11273       10   1122    0.03125
11274       10   1123    0.18400
11275       10   1124    0.03750
11276       10   1125    0.01775
11277       10   1126    0.01775
11278       10   1127    0.07300
11279       10   1128    0.01825

[11280 rows x 3 columns]

In [8]:
genome_tags_df = pd.read_csv(genome_tags)
genome_tags_df['tag'].values.size

1128

In [9]:
genome_tags_df

      tagId                 tag
0         1                 007
1         2        007 (series)
2         3        18th century
3         4               1920s
4         5               1930s
5         6               1950s
6         7               1960s
7         8               1970s
8         9               1980s
9        10        19th century
10       11                  3d
11       12                70mm
12       13                 80s
13       14                9/11
14       15             aardman
15       16     aardman studios
16       17            abortion
17       18              absurd
18       19              action
19       20       action packed
20       21          adaptation
21       22   adapted from:book
22       23  adapted from:comic
23       24   adapted from:game
24       25           addiction
25       26         adolescence
26       27            adoption
27       28            adultery
28       29           adventure
29       30        affectionate
...     ...                 ...
1098   1099       waste of time
1099   1100   watch the credits
1100   1101             weapons
1101   1102             wedding
1102   1103                weed
1103   1104               weird
1104   1105            werewolf
1105   1106          werewolves
1106   1107             western
1107   1108           whimsical
1108   1109          wilderness
1109   1110                wine
1110   1111             wistful
1111   1112               witch
1112   1113             witches
1113   1114               witty
1114   1115             wizards
1115   1116               women
1116   1117       working class
1117   1118           workplace
1118   1119      world politics
1119   1120         world war i
1120   1121        world war ii
1121   1122       writer's life
1122   1123             writers
1123   1124             writing
1124   1125               wuxia
1125   1126                wwii
1126   1127              zombie
1127   1128             zombies

[1128 rows x 2 columns]

In [14]:
# these df has values for all tags for first 10 movies

top_ten_df['tagId'].unique().size

# pivot table to have movies as index, tagId as column names and relevance as values
top_ten_movies_df = top_ten_df.pivot(index='movieId', columns='tagId', values='relevance')
# top_ten_movies_df.columns = genome_tags_df['tag'].values
top_ten_movies_df

tagId,1,2,3,4,5,6,7,8,9,10,...,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.02900,0.02375,0.05425,0.06875,0.16000,0.19525,0.07600,0.25200,0.22750,0.02400,...,0.03775,0.02250,0.04075,0.03175,0.12950,0.04550,0.02000,0.03850,0.09125,0.02225
2,0.03625,0.03625,0.08275,0.08175,0.10200,0.06900,0.05775,0.10100,0.08225,0.05250,...,0.04775,0.02050,0.01650,0.02450,0.13050,0.02700,0.01825,0.01225,0.09925,0.01850
3,0.04150,0.04950,0.03000,0.09525,0.04525,0.05925,0.04000,0.14150,0.04075,0.03200,...,0.05800,0.02375,0.03550,0.02125,0.12775,0.03250,0.01625,0.02125,0.09525,0.01750
4,0.03350,0.03675,0.04275,0.02625,0.05250,0.03025,0.02425,0.07475,0.03750,0.02400,...,0.04900,0.03275,0.02125,0.03675,0.15925,0.05225,0.01500,0.01600,0.09175,0.01500
5,0.04050,0.05175,0.03600,0.04625,0.05500,0.08000,0.02150,0.07375,0.02825,0.02375,...,0.05375,0.02625,0.02050,0.02125,0.17725,0.02050,0.01500,0.01550,0.08875,0.01575
6,0.02925,0.02575,0.02700,0.03450,0.06825,0.04675,0.04675,0.23375,0.10850,0.02000,...,0.05050,0.02475,0.02400,0.06500,0.17975,0.09250,0.03225,0.02150,0.09900,0.02300
7,0.04775,0.05075,0.13400,0.08825,0.09550,0.19500,0.05400,0.08975,0.03700,0.11650,...,0.04675,0.03050,0.01275,0.02775,0.13300,0.04475,0.01800,0.01000,0.08550,0.01575
8,0.03125,0.03750,0.08050,0.03150,0.05100,0.01750,0.01475,0.07650,0.02500,0.03450,...,0.05225,0.02475,0.02750,0.02575,0.31750,0.06400,0.01525,0.01450,0.08875,0.01675
9,0.03225,0.03550,0.02150,0.01650,0.02350,0.01975,0.01450,0.04600,0.01175,0.01375,...,0.02925,0.01350,0.01100,0.01275,0.15475,0.01525,0.01150,0.00700,0.09025,0.01600
10,0.99950,1.00000,0.03050,0.05150,0.07850,0.08550,0.12125,0.12200,0.07350,0.01850,...,0.61825,0.03450,0.01950,0.03225,0.14875,0.06225,0.02000,0.01400,0.09425,0.01850

In [32]:
# # for each user, get movies that user has watched
# user_movies_df = pd.DataFrame()
# for user_id in range(1, 10000):
#     user_movies_df = user_movies_df.append(pd.Series(ratings_matrix_df.index[ratings_matrix_df[user_id].notnull()]), ignore_index=True)
    
# user_movies_df

KeyboardInterrupt:

In [133]:
user_movies_d = {}

# for uid in range(31, 50):
#     condition = ratings_matrix_df[uid].notnull()
#     user_movies_d[uid] = ratings_matrix_df.index[condition].tolist()
for uid in range(1, 10):
    user_movies_d[uid] = ratings_df[ratings_df['userId'] == uid]['movieId'].values.tolist()
# user_movies_df = pd.DataFrame(user_movies_d)
# user_movies_df
user_movies_d

{1: [2,
  29,
  32,
  47,
  50,
  112,
  151,
  223,
  253,
  260,
  293,
  296,
  318,
  337,
  367,
  541,
  589,
  593,
  653,
  919,
  924,
  1009,
  1036,
  1079,
  1080,
  1089,
  1090,
  1097,
  1136,
  1193,
  1196,
  1198,
  1200,
  1201,
  1208,
  1214,
  1215,
  1217,
  1219,
  1222,
  1240,
  1243,
  1246,
  1249,
  1258,
  1259,
  1261,
  1262,
  1266,
  1278,
  1291,
  1304,
  1321,
  1333,
  1348,
  1350,
  1358,
  1370,
  1374,
  1387,
  1525,
  1584,
  1750,
  1848,
  1920,
  1967,
  1994,
  1997,
  2021,
  2100,
  2118,
  2138,
  2140,
  2143,
  2173,
  2174,
  2193,
  2194,
  2253,
  2288,
  2291,
  2542,
  2628,
  2644,
  2648,
  2664,
  2683,
  2692,
  2716,
  2761,
  2762,
  2804,
  2872,
  2918,
  2944,
  2947,
  2959,
  2968,
  3000,
  3030,
  3037,
  3081,
  3153,
  3265,
  3438,
  3476,
  3479,
  3489,
  3499,
  3889,
  3932,
  3996,
  3997,
  4011,
  4027,
  4105,
  4128,
  4133,
  4226,
  4306,
  4446,
  4467,
  4571,
  4720,
  4754,
  4878,
  4896,
  4911,
  4915,
  4941,
  4980,
  4993,
  5026,
  5039,
  5040,
  5146,
  5171,
  5540,
  5679,
  5797,
  5816,
  5898,
  5952,
  5999,
  6093,
  6242,
  6333,
  6502,
  6539,
  6754,
  6755,
  6774,
  6807,
  6888,
  7001,
  7045,
  7046,
  7153,
  7164,
  7247,
  7387,
  7389,
  7438,
  7449,
  7454,
  7482,
  7757,
  8368,
  8482,
  8507,
  8636,
  8690,
  8961,
  31696],
 2: [3,
  62,
  70,
  110,
  242,
  260,
  266,
  469,
  480,
  541,
  589,
  891,
  908,
  924,
  1121,
  1196,
  1210,
  1214,
  1249,
  1259,
  1270,
  1327,
  1356,
  1544,
  1580,
  1673,
  1748,
  1965,
  1969,
  1970,
  1971,
  1972,
  1973,
  1974,
  1986,
  2291,
  2454,
  2455,
  2791,
  2858,
  2948,
  2951,
  3150,
  3159,
  3173,
  3450,
  3513,
  3534,
  3555,
  3565,
  3703,
  3753,
  3917,
  3918,
  3923,
  3926,
  3927,
  3928,
  3930,
  3937,
  3959],
 3: [1,
  24,
  32,
  50,
  160,
  173,
  175,
  196,
  223,
  260,
  316,
  318,
  329,
  337,
  440,
  442,
  457,
  480,
  490,
  512,
  541,
  589,
  593,
  610,
  718,
  780,
  788,
  858,
  904,
  905,
  919,
  924,
  953,
  968,
  1037,
  1060,
  1073,
  1077,
  1079,
  1084,
  1089,
  1094,
  1097,
  1103,
  1125,
  1127,
  1129,
  1179,
  1188,
  1193,
  1196,
  1197,
  1198,
  1199,
  1200,
  1206,
  1208,
  1210,
  1213,
  1214,
  1215,
  1219,
  1220,
  1221,
  1222,
  1225,
  1228,
  1230,
  1240,
  1242,
  1247,
  1257,
  1258,
  1259,
  1261,
  1266,
  1270,
  1272,
  1276,
  1278,
  1288,
  1304,
  1307,
  1321,
  1330,
  1333,
  1345,
  1356,
  1372,
  1373,
  1374,
  1375,
  1376,
  1396,
  1544,
  1584,
  1603,
  1653,
  1674,
  1676,
  1721,
  1762,
  1779,
  1810,
  1831,
  1876,
  1882,
  1909,
  1917,
  1921,
  2009,
  2011,
  2012,
  2018,
  2028,
  2034,
  2046,
  2053,
  2054,
  2076,
  2093,
  2105,
  2117,
  2118,
  2140,
  2150,
  2236,
  2288,
  2311,
  2329,
  2366,
  2371,
  2391,
  2407,
  2428,
  2448,
  2455,
  2505,
  2528,
  2529,
  2530,
  2531,
  2532,
  2533,
  2541,
  2551,
  2567,
  2571,
  2574,
  2613,
  2615,
  2628,
  2640,
  2642,
  2643,
  2657,
  2662,
  2668,
  2676,
  2694,
  2699,
  2710,
  2722,
  2750,
  2788,
  2791,
  2797,
  2808,
  2857,
  2872,
  2900,
  2901,
  2916,
  2918,
  2947,
  2948,
  2949,
  2968,
  2985,
  2986,
  3033,
  3039,
  3070,
  3072,
  3098,
  3142,
  5060],
 4: [6,
  10,
  19,
  32,
  165,
  329,
  350,
  356,
  367,
  368,
  370,
  377,
  380,
  420,
  431,
  440,
  454,
  480,
  489,
  519,
  520,
  531,
  548,
  586,
  589,
  594,
  596,
  733],
 5: [2,
  11,
  17,
  60,
  62,
  104,
  110,
  140,
  141,
  150,
  224,
  235,
  260,
  282,
  316,
  318,
  350,
  364,
  367,
  368,
  370,
  376,
  377,
  380,
  440,
  454,
  457,
  475,
  480,
  491,
  500,
  508,
  515,
  529,
  531,
  587,
  588,
  589,
  590,
  593,
  594,
  595,
  608,
  631,
  648,
  671,
  708,
  720,
  736,
  780,
  788,
  832,
  1028,
  1035,
  1036,
  1042,
  1073,
  1079,
  1080,
  1097,
  1136,
  1196,
  1198,
  1210,
  1291,
  1393],
 6: [1,
  3,
  7,
  17,
  52,
  62,
  135,
  140,
  141,
  260,
  494,
  628,
  648,
  653,
  708,
  719,
  733,
  736,
  743,
  762,
  780,
  788,
  802,
  1073],
 7: [3,
  7,
  11,
  15,
  16,
  17,
  24,
  105,
  122,
  151,
  252,
  260,
  271,
  276,
  316,
  339,
  348,
  351,
  355,
  356,
  357,
  362,
  364,
  377,
  425,
  440,
  480,
  509,
  539,
  553,
  587,
  589,
  590,
  597,
  674,
  708,
  736,
  750,
  780,
  788,
  806,
  852,
  880,
  899,
  908,
  912,
  914,
  920,
  922,
  924,
  928,
  932,
  952,
  1017,
  1020,
  1077,
  1094,
  1095,
  1097,
  1101,
  1183,
  1196,
  1206,
  1210,
  1230,
  1247,
  1253,
  1256,
  1259,
  1265,
  1270,
  1271,
  1272,
  1301,
  1307,
  1343,
  1357,
  1385,
  1391,
  1393,
  1408,
  1409,
  1441,
  1449,
  1466,
  1513,
  1517,
  1544,
  1573,
  1580,
  1597,
  1617,
  1674,
  1682,
  1721,
  1777,
  1882,
  1888,
  1894,
  1911,
  1917,
  1932,
  1964,
  2011,
  2012,
  2013,
  2018,
  2028,
  2054,
  2067,
  2080,
  2081,
  2108,
  2112,
  2125,
  2146,
  2195,
  2243,
  2266,
  2297,
  2311,
  2316,
  2333,
  2346,
  2363,
  2367,
  2384,
  2385,
  2390,
  2396,
  2403,
  2405,
  2407,
  2424,
  2427,
  2463,
  2468,
  2469,
  2478,
  2498,
  2529,
  2535,
  2546,
  2558,
  2598,
  2628,
  2633,
  2640,
  2641,
  2642,
  2654,
  2657,
  2664,
  2671,
  2683,
  2694,
  2701,
  2716,
  2722,
  2723,
  2734,
  2752,
  2762,
  2770,
  2858,
  2861,
  2881,
  2908,
  2916,
  2942,
  2950,
  2959,
  2968,
  2987,
  2993,
  3004,
  3032,
  3033,
  3037,
  3039,
  3062,
  3074,
  3081,
  3086,
  3103,
  3108,
  3118,
  3156,
  3175,
  3176,
  3179,
  3185,
  3194,
  3199,
  3219,
  3235,
  3244,
  3334,
  3341,
  3354,
  3363,
  3408,
  3417,
  3448,
  3469,
  3479,
  3501,
  3510,
  3512,
  3524,
  3526,
  3527,
  3528,
  3578,
  3593,
  3671,
  3684,
  3699,
  3701,
  3717,
  3753,
  3754,
  3793,
  3798,
  3824,
  3826,
  3827,
  3844,
  3864,
  3911,
  3926,
  3932,
  3959,
  3977,
  3978,
  3987,
  3988,
  3994,
  4018,
  4019,
  4023,
  4041,
  4062,
  4155,
  4186,
  4270,
  4306,
  4308,
  4310,
  4317,
  4339,
  4349,
  4361,
  4368,
  4370,
  4464,
  4503,
  4545,
  4603,
  4626,
  4638,
  4639,
  4643,
  4661,
  4700,
  4736,
  4799,
  4848,
  4867,
  4874,
  4896,
  4963,
  4993,
  4994,
  4995,
  5009],
 8: [1,
  3,
  6,
  10,
  19,
  21,
  39,
  47,
  48,
  110,
  150,
  153,
  161,
  165,
  168,
  172,
  173,
  185,
  207,
  208,
  231,
  236,
  253,
  266,
  276,
  277,
  288,
  292,
  296,
  316,
  329,
  338,
  339,
  344,
  349,
  350,
  353,
  355,
  356,
  357,
  364,
  367,
  372,
  377,
  380,
  381,
  434,
  442,
  454,
  457,
  480,
  500,
  508,
  527,
  539,
  550,
  551,
  552,
  553,
  587,
  588,
  589,
  590,
  592,
  593,
  595,
  597,
  610,
  648,
  733],
 9: [356,
  858,
  1219,
  1911,
  1923,
  1997,
  2279,
  2605,
  2683,
  2688,
  2706,
  2710,
  2719,
  2722,
  2840,
  2841,
  2959,
  3016,
  3785,
  3798,
  3857,
  3908,
  3979,
  3994,
  3999,
  4022,
  4030,
  4034,
  4148,
  4369,
  4483,
  4502,
  4509,
  4519,
  4533]}

In [134]:
# len(user_movies_d[7])
# user_movie_tags_df = pd.DataFrame(index=user_movies_d[1], columns=range(1, 1129))

# collect tag genome scores for all movies that user X has watched

user_x = 1
user_movie_tags_df = pd.DataFrame()

print(len(user_movies_d[user_x]))
user_movie_tags_df = genome_scores_df[genome_scores_df.index.isin(user_movies_d[user_x])]
user_movie_tags_df

174

       movieId  tagId  relevance
2            1      3    0.05775
29           1     30    0.67625
32           1     33    0.40200
47           1     48    0.14100
50           1     51    0.26525
112          1    113    0.53425
151          1    152    0.07200
223          1    224    0.03575
253          1    254    0.04875
260          1    261    0.02475
293          1    294    0.05375
296          1    297    0.15250
318          1    319    0.17225
337          1    338    0.45325
367          1    368    0.24175
541          1    542    0.01575
589          1    590    0.03500
593          1    594    0.02875
653          1    654    0.02375
919          1    920    0.15825
924          1    925    0.03450
1009         1   1010    0.11525
1036         1   1037    0.22750
1079         1   1080    0.00475
1080         1   1081    0.01600
1089         1   1090    0.60425
1090         1   1091    0.41050
1097         1   1098    0.10075
1136         2      9    0.09925
1193         2     66    0.03425
...        ...    ...        ...
6093         6    454    0.10375
6242         6    603    0.17025
6333         6    694    0.11150
6502         6    863    0.18000
6539         6    900    0.10375
6754         6   1115    0.03375
6755         6   1116    0.10925
6774         7      7    0.05025
6807         7     40    0.00800
6888         7    121    0.66625
7001         7    234    0.05550
7045         7    278    0.39975
7046         7    279    0.35475
7153         7    386    0.03800
7164         7    397    0.05900
7247         7    480    0.01625
7387         7    620    0.11025
7389         7    622    0.02400
7438         7    671    0.01725
7449         7    682    0.11975
7454         7    687    0.02650
7482         7    715    0.06225
7757         7    990    0.09050
8368         8    473    0.02575
8482         8    587    0.03875
8507         8    612    0.02225
8636         8    741    0.01550
8690         8    795    0.00450
8961         8   1066    0.03900
31696       29    113    0.38575

[174 rows x 3 columns]

In [135]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=8).fit(user_movie_tags_df.values)

result = kmeans.predict(user_movie_tags_df.values)
result

array([2, 2, 2, 2, 2, 2, 2, 5, 5, 5, 5, 5, 0, 0, 0, 7, 3, 3, 3, 1, 1, 4,
       4, 4, 4, 4, 4, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 0, 7, 3, 6, 6, 1,
       1, 1, 1, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 2, 2, 5, 0, 0, 0, 0, 0, 0,
       7, 7, 7, 7, 3, 3, 6, 6, 6, 6, 6, 6, 6, 1, 1, 4, 2, 2, 2, 2, 2, 7,
       7, 3, 3, 3, 3, 6, 6, 6, 1, 1, 4, 4, 2, 5, 5, 0, 0, 0, 0, 0, 7, 7,
       7, 7, 7, 3, 3, 4, 2, 2, 5, 5, 0, 0, 7, 3, 6, 1, 1, 4, 4, 2, 2, 2,
       5, 5, 5, 0, 0, 7, 3, 3, 3, 6, 6, 6, 4, 7, 3, 3, 6, 6, 4, 2],
      dtype=int32)

In [142]:
np.unique(result).size
new_df = pd.DataFrame(result, columns = ['cluster'])

len(user_movies_d[user_x])
new_df['movie'] = user_movies_d[user_x]

# cluster ranking and sorting in ascending order
print((new_df.groupby('cluster')['movie'].count()/new_df.size).sort_values().index.tolist())

print(new_df.size)
clusters = new_df.groupby('cluster')['movie'].apply(list)
clusters
# new_df
# new_df.set_index(user_movies_d[user_x], drop=True, inplace=True)
# kmeans.labels_
# genome_tags_df['tag'].values.size

[1, 7, 3, 6, 0, 5, 4, 2]
348

cluster
0    [318, 337, 367, 1525, 2628, 2644, 2648, 2664, ...
1    [919, 924, 1967, 1994, 1997, 2021, 3081, 3153,...
2    [2, 29, 32, 47, 50, 112, 151, 1136, 1193, 1196...
3    [589, 593, 653, 1750, 2872, 2918, 3996, 3997, ...
4    [1009, 1036, 1079, 1080, 1089, 1090, 1097, 210...
5    [223, 253, 260, 293, 296, 1291, 1304, 1321, 13...
6    [1848, 1920, 2944, 2947, 2959, 2968, 3000, 303...
7    [541, 1584, 2716, 2761, 2762, 2804, 3889, 3932...
Name: movie, dtype: object

In [78]:
cluster_size_df = pd.DataFrame(index=clusters.index)
# cluster_size_df

def process(x):
    x['size'] = len(clusters[x.name])
    
    return x

cluster_size_df['size'] = None
cluster_size_df

cluster_size_df.apply(lambda x: process(x), axis=1)

         size
cluster
0           2
1          14
2           3
3           4
4           5
5           4
6           3
7           3

In [80]:
sizes = cluster_size_df['size'].values
below_mean_clusters_df = cluster_size_df[cluster_size_df['size'] <= cluster_size_df['size'].mean()]
below_mean_clusters_df

        size
cluster
0          2
2          3
3          4
5          4
6          3
7          3

In [86]:
below_mean_clusters_df['rank'] = below_mean_clusters_df.rank(method='dense')
below_mean_clusters_df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

        size  rank
cluster
0          2   1.0
2          3   2.0
3          4   3.0
5          4   3.0
6          3   2.0
7          3   2.0

In [89]:
below_mean_clusters_df['rank'].values

array([1., 2., 3., 3., 2., 2.])